<div th:fragment="full_entity_form">
  <comment th:remove="all">
    <!--entity form, use parameter:-->
    <!-- isTemplate=true,false -->
    <!-- scope="main","normal"-->
    <!-- formAction="url" -->
    <!--data: EntityInstanceResponse-->
  </comment>
  <div th:classappend="${isTemplate}?'entity-form-container-template':'entity-form-container'"
       th:attr="data-form-scope=${scope}?:'normal'"
       th:attrappend="data-current-action=${currentAction},
          data-current-friendly-action=#{${'actions.' + currentAction}}"
       data-entity-url="/"
       data-entity-record-url="/"
      >
    <div class="data-content"><p th:attr="data-content=${data}?:''"></p></div>
    <form method="POST" class="twelve columns custom "
          th:action="@{${formAction}}">
      <div class="entity-context" style="display: none;"></div>
      <div class="tab-holder entity-box"></div>
      <div class="form-action-group-container"
           th:include="components/entity-actions"
           th:with="editSuccessRedirect=false"></div>
    </form>
  </div>
</div>