<!DOCTYPE html>
<html>
<head lang="en">

  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/bootstrap-3.3.7/css/bootstrap.css"/>

  <link rel="stylesheet" type="text/css" href="../../css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin-layout.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/jquery/plugins/jquery.custom-scrollbar.css"/>

  <link rel="stylesheet" type="text/css" href="../../css/component/general.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/entity/entity.css"/>

  <style>
    table.entity-filters-table,
    .entity-filters-table > thead,
    .entity-filters-table > tbody,
    .entity-filters-table > tfoot,
    .entity-filters-table tr.filters-table-row,
    .entity-filters-table tr.filters-table-row > th,
    .entity-filters-table tr.filters-table-row > td {
      border: 1px solid black;
      background-color: white;
      padding: 5px;
    }

    .entity-filters-table tr.filters-table-row > td > ul.entity-filter {
      position: relative;
    }
  </style>
</head>
<body>
<div th:fragment="full-template">
  <style>
    .template-group {
      margin-left: 5px;
      font-weight: bold;
    }

    .template-group + div {
      margin-left: 30px;
    }
  </style>
  <p class="template-group">
    Grid Frame Template
  </p>
  <div>
    <div th:include="components/entity-grid :: full_entity_grid "
         th:with="data='', isTemplate=true, scope='normal'"/>
  </div>

  <p class="template-group">
    Column Header Template
  </p>

  <div>
    <table><tr>

    <th class='column-header-template column explicit-size' scope='col'>
      <div href='#' class='column-header dropdown'>
        <input type="hidden" class="filter-value" name="filterName" data-multi-value="false" value=""/>
        <input type="hidden" class="sort-value" name="sort_filterName" value=""/>
        <div class='title'>
          <span class='col-name'>Name Placeholder</span>

          <div class='filter-sort-container'>
            <i class='sort-icon fa fa-sort'></i>
            <i class='filter-icon fa fa-filter'></i>
            <ul class='entity-filter'>
            </ul>
          </div>
        </div>
        <div class='resizer'>||</div>
      </div>
    </th></tr></table>
  </div>

  <p class="template-group">
    Filter Template
  </p>

  <div th:fragment="filters-template">
    <table class="entity-filters-table show-filter" th:inline="text">
      <thead>
      <tr class="filters-table-row">
        <th style="width: 20%;">Filter Type</th>
        <th class="toggle" style="width: 80%;">Entity Filter</th>
      </tr>
      </thead>
      <tbody>
      <tr class="filters-table-row">
        <td>string</td>
        <td>
          <ul class="entity-filter string-filter no-hover"
              data-filter-type="string"
              data-support-field-types="basic,string,name,email,mobile,phone,default">
            <li>
              <div class="filter-fields" data-action="">

                <div class="text-filter-control">
                  <button class="filter-button btn btn-info">
                    <i class="fa fa-filter"></i>
                  </button><span class="input-line">
                <span class="input-element">
                  <i class="fa fa-search embed-hint"></i>
                  <input class="filter-input"
                         data-name="fieldNamePlaceholder"
                         placeholder="placeHolder"
                         type="text"/>
                  <i class="fa fa-times-circle  embed-delete"></i>
                </span></span>
                </div>

              </div>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="filters-table-row">
        <td>decimalRange</td>
        <td>
          <ul class="entity-filter number-filter no-hover"
              data-filter-type="decimalRange"
              data-support-field-types="decimal">
            <li>
              <div class="filter-fields" data-action="">
                <div class="text-filter-control">
                  <button class="filter-button btn btn-info">
                    <i class="fa fa-filter"></i>
                  </button>
                <span class="input-line">
                  <table class="divide-by-row">
                    <tbody>
                    <tr>
                      <td class="half">
                <span class="input-element cell">
                  <i class="fa fa-calculator embed-hint"></i>
                  <input class="filter-input"
                         data-name="fieldNamePlaceholder"
                         placeholder="placeholder"
                         type="text"/>
                  <i class="fa fa-times-circle  embed-delete"></i>
                </span>
                      </td>
                      <td class="space"><span>-</span></td>
                      <td class="half">
                <span class="input-element cell">
                  <i class="fa fa-calculator embed-hint"></i>
                  <input class="filter-input"
                         data-name="fieldNamePlaceholder"
                         placeholder="placeholder"
                         type="text"/>
                  <i class="fa fa-times-circle  embed-delete"></i>
                </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </span>
                </div>
              </div>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="filters-table-row">
        <td>boolean</td>
        <td>
          <ul class="entity-filter option-filter boolean-filter no-hover"
              data-filter-type="boolean"
              data-support-field-types="boolean">
            <li>
              <div class="filter-fields" data-action="">
                <div class="option-filter-control">
                  <label class="option">
                    <input type="radio" name="radio-name-placeholder" value="true"/>
                    <span>[[#{general.boolean.true}]]</span>
                  </label>
                  <label class="option">
                    <input type="radio" name="radio-name-placeholder" value="false"/>
                    <span>[[#{general.boolean.false}]]</span>
                  </label>
                  <hr/>
                  <div class="bottom-control">
                    <a class="filter-reset-button" href="#">[[#{general.reset}]]</a>
                    <button class="filter-button btn btn-info">
                      <i class="fa fa-filter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="filters-table-row">
        <td>enum</td>
        <td>
          <ul class="entity-filter option-filter enum-filter no-hover"
              data-filter-type="enumeration"
              data-support-field-types="enumeration">
            <li>
              <div class="filter-fields" data-action="">
                <div class="option-filter-control">
                  <div class="options">
                    <!--
                    <label class="option"><input type="checkbox" name="gender" value="male">
                      <span>Male</span></label>
                    -->
                  </div>
                  <hr/>
                  <div class="bottom-control">
                    <a class="filter-reset-button" href="#">[[#{general.reset}]]</a>
                    <button class="filter-button btn btn-info">
                      <i class="fa fa-filter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="filters-table-row">
        <td>foreignKey</td>
        <td>
          <ul class="entity-filter foreign-key-filter no-hover"
              data-filter-type="foreignkey"
              data-support-field-types="foreign_key,external_foreign_key">
            <li>
              <div class="filter-fields" data-action="">
                <div class="choose-control">
                  <div class="chosen-entities">
                  </div>
                  <hr/>
                  <div class="bottom-control"  >
                    <button class="btn btn-xs btn-default to-one-lookup lookup-entity" type="button" data-select-url="">
                      <i class="fa fa-search"></i>
                      <span class="" th:utext="#{general.lookup.with}"></span>
                    </button>
                    <a class="filter-reset-button" href="#">[[#{general.reset}]]</a>
                    <button class="filter-button btn btn-info">
                      <i class="fa fa-filter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
      <td>dateRange</td>
      <td>
        <ul class="entity-filter string-filter no-hover"
            data-filter-type="dateRange"
            data-support-field-types="date">
          <li>
            <div class="filter-fields date-inputs" data-action="">
              <div class="text-filter-control">
                <div class="input-line">
                  <table class="divide-by-row">
                    <tbody>
                    <tr>
                      <td class="half">
                <span class="input-element cell">
                  <i class="fa fa-calendar-o embed-hint"></i>
                  <input class="filter-input date-input from"
                         th:placeholder="#{general.date.from}"
                         type="text"/>
                  <i class="fa fa-times-circle  embed-delete"></i>
                </span>
                      </td>
                      <td class="space"><span>-</span></td>
                      <td class="half">
                <span class="input-element cell">
                  <i class="fa fa-calendar embed-hint"></i>
                  <input class="filter-input date-input to"
                         th:placeholder="#{general.date.to}"
                         type="text"/>
                  <i class="fa fa-times-circle  embed-delete"></i>
                </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <hr/>
                <div class="bottom-control">
                  <a class="filter-reset-button" href="#">[[#{general.reset}]]</a>
                  <button class="filter-button btn btn-info">
                    <i class="fa fa-filter"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<footer>
  <script type="text/javascript" src="../../lib/jquery/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../../js/admin/admin-init.js"></script>
</footer>

</body>
</html>