.slide-show{
    position: fixed;
    min-width: 100px;
    z-index: 100;
}
.slide-show > div{
    background-color:rgba(165, 162, 162, 0.45);
}

.slide-show > .indexer,
.slide-show > .content{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.slide-show > .indexer{
    position: absolute;
    display: inline-block;
}
.slide-show > .content{
    position: relative;
    width: 100%;
    min-height: 100px;
}

/* default */
/*
.slide-show{left: initial;right: initial;top: initial;bottom:initial;}

.slide-show > .indexer
{top: 0;right: 100%;}
.slide-show.active > .indexer,
.slide-show:hover > .indexer
{right: 200%;}

.slide-show > .content
{margin-left: 0;}
.slide-show.active > .content,
.slide-show:hover > .content
{margin-left: -100%;}

*/


/* right */
.slide-show.right{left: 100%;right: initial;}

.slide-show.right > .indexer
{left: initial;right: 100%;}
.slide-show.right.active > .indexer,
.slide-show.right:hover > .indexer
{right: 200%;}

.slide-show.right > .content
{left: 0;right:initial;}
.slide-show.right.active > .content,
.slide-show.right:hover > .content
{left: -100%;}

/* left */
.slide-show.left {left: initial;right: 100%;}

.slide-show.left > .indexer
{left: 100%;right: initial;}
.slide-show.left.active > .indexer,
.slide-show.left:hover > .indexer
{left: 200%;}

.slide-show.left > .content
{left: 0;right: initial;}
.slide-show.left.active > .content,
.slide-show.left:hover > .content
{left: 100%;}

/*
Example:
<div class="slide-show right/left" style="top:100px; width: 200px; left: 100%;">
  <div class="indexer">
    <span>Indexer</span>
  </div>
  <div class="content">
    <div></div>
  </div>
</div>
*/