<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Author" content="Tallybook" />
    <meta name="viewport" content="width=device-width" />
    
    <title th:text="#{Admin_Title}" >TallyBook Admin</title>
<!-- 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome-4.3.0/css/font-awesome.min.css}"
          href="../../lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-3.3.4/css/bootstrap.css}"
          href="../../lib/bootstrap-3.3.4/css/bootstrap.css"/>
 	<link rel="stylesheet" th:href="@{/css/foundation.css}"/>
 	<link rel="stylesheet" th:href="@{/css/admin.css}"/>
  <link rel="stylesheet" th:href="@{/css/login/login.css}"/>

</head>