/* Filter Sort Container */
.filter-sort-container{
    position: absolute;
    right: 0px;
    display: inline-block;
    padding: 0 5px 0 0;
}

.filter-sort-container > i {
    color: #B9B9B9;
    margin: 0px 0px 0px 4px;
    cursor: pointer;
}
.filter-sort-container.sort-active > i.sort-icon,
.filter-sort-container.filter-active > i.filter-icon{
    color: #8EAA2B;
}

/* Filter dropdown */
.filter-sort-container
.entity-filter{
    position: absolute;
}

.entity-filter{
    display: none;
    background: #E9E9E9;
    list-style: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    right: 0;
    z-index: 2;
    min-width: 222px;
}

.entity-filter.string-filter{
    min-width: 222px;
}
.entity-filter tbody tr{
    background: transparent !important;
}

.entity-filter.enum-filter{
    min-width: 150px;
}

.show-filter
.entity-filter{
    display: block !important;
}

.entity-filter hr{
    margin: 5px 0;
    border: none;
    border-top: solid 1px rgba(129, 129, 129, 0.42);
}

.entity-filter .bottom-control{
    display: inline;
    position: relative;
    /* margin-top: 10px; */
    float: right;
}

/*Dropdown layout*/
.entity-filter table.divide-by-row{
    width: 100%;
}

.entity-filter table.divide-by-row td.half{
    width: 50%;
}

.entity-filter table.divide-by-row td.space{
    padding: 0 5px 0 5px;
}

.entity-filter table.divide-by-row td .cell{
    width: 100%;
}

/* Entity Filter Control: contains elements */
.entity-filter .text-filter-control{
    white-space: nowrap;
}

.entity-filter .filter-fields{
    position: relative;
}

.entity-filter .input-line{
    position: relative;
    display: block;
    overflow: hidden;
}

/* Entity Filter Button */
.entity-filter .filter-button{
    float: right;
    padding-bottom: 1px;
    padding-top: 1px;
    background-color: #8EAA2B;
    border-color: #90AE25;
    margin-left: 8px;
}
.entity-filter .bottom-control .filter-button{
    float:none;
    right: 0;
}

/* Entity Input Element: text element */
.entity-filter .input-element{
    position: relative;
    display: inline-block;
    width: 100%;
}

.entity-filter .input-element.half{
    width: 50%;
}

/*InputElement.TextElement*/
.entity-filter .input-element{}

.entity-filter .input-element > i.fa{
    position: absolute;
    color: #aaaaaa;
    top: 5px;
    z-index: 2;
    vertical-align: middle;
}
.entity-filter .input-element > i.fa.embed-hint{
    left: 5px;
}
.entity-filter .input-element > i.fa.embed-delete{
    right: 8px;
}
.entity-filter .input-element > i.fa.embed-delete:active{
    color: #111111;
}

.entity-filter .input-element > input[type=text].filter-input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #353a3b;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
}

.entity-filter .input-element > input[type=text].filter-input:focus {
    border-color: #a0bf30;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(198, 230, 59, 0.6);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(185, 221, 56, 0.68);
}

/* Entity Input Element: boolean element */
.entity-filter.boolean-filter span.input-line{
    padding-top: 3px;
}

/* Entity Input Element: option element */
.entity-filter.option-filter input[type=radio]{
    margin: 0 3px 0 10px;
}
.entity-filter.option-filter input[type=checkbox]{
    margin: 0 3px 0 10px;
}
.entity-filter.option-filter a.reset{
    /* float: right; */
    bottom: 0;
    vertical-align: bottom;
}

.entity-filter.option-filter .option{
    display: block;
}
.entity-filter.option-filter .option span{
    font-weight: initial;
}

.entity-filter .lookup-entity{
    margin-right: 10px;
}

.entity-filter .chosen-entity{
    font-weight: initial;
}

.entity-filter .chosen-entity .drop-entity{
    margin-right: 5px;
    color: rgb(170, 170, 170);
}

.entity-filter .chosen-entity .drop-entity:active{
    color: #111111;
}

.entity-filter .date-input{
    min-width: 140px;
}
.entity-filter .date-inputs{
    min-width: 400px;
}